@import 'variables';

body {
  background: $body-bg;
}

nav {
	overflow: hidden;
	padding: 0.5em;
	background-color: $steel;
	border-bottom: 2px solid #000;

	img {
			float: left;
			vertical-align: middle;
			height: 3rem;
	}

	h2 {
		float: left;
		margin: 0 0 0 0.5em;
		line-height: 3rem;
		color: $cornflower;
		font-size: 2rem;
		text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	}
	
	.navRight {
		float: right;

		.navLink {
			margin-right: 1em;

			i {
				font-size: 2rem;
				line-height: 3rem;
				color: #fff;
				text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
			}

			i:hover {
				color: $cornflower;
			}
		}
	}
}

.submitArea {
	margin: 0 auto;
	padding: 1em;
	width: 70%;

	.searchBox {
		width: 75%;
		border: 1 px solid #000;
		padding: 0.7em;
		border-radius: 1em;
	}

	.searchButton {
		float: right;
		padding: 0.7em;
		background-color: $cornflower;
		border: 2px solid $steel;
		font-weight: bold;
		border-radius: 1em;
		text-shadow: 1px 1px 2px #000;
		color: #fff;
	}
}

.bandSearchArea {
	padding: 2em;
}

.bandSearchBox  {
	width: 15em;
	margin: 1em 1em 1em 1em;
	float: left;
	border: 1px solid #000;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

	.bandName {
		padding: 0.7em 0;
		width: 100%;
		text-align: center;
		font-weight: bolder;
		background-color: $steel;
		color: #fff;
		text-shadow: 1px 1px 2px #000;
	}

	img {
		height: 16em;
		width: 100%;
		display: block;
	}

	.voteButton {
		padding: 0.7em 0;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #000;
		background-color: $cornflower;
		color: yellow;
		font-weight: bolder;
		text-shadow: 1px 1px 2px #000;
	}
}

.votesArea {
	padding: 2em;

	.bandVoteBox {
		width: 15em;
		margin: 1em 1em 1em 1em;
		float: left;
		border: 1px solid #000;
		box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

		img {
			height: 16em;
			width: 100%;
			display: block;
		}

		.voteBandName {
			padding: 0.7em 0;
			width: 100%;
			text-align: center;
			font-weight: bolder;
			background-color: $steel;
			color: #fff;
			text-shadow: 1px 1px 2px #000;
		}
	}
}

.footer {
	background-color: $steel;
	border-top: 2px solid #000;
	padding: 1em;
	text-align: center;
	color: #fff;
	overflow: hidden;
	clear: both;
}	